.aboutLeft {
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

.aboutLeft h2 {
  font-size: 18px;
  margin-bottom: 4em;
  font-weight: 700;
  letter-spacing: 5px;
  line-height: 1.8;
}

.aboutLeft p.first {
  margin-bottom: 1.5rem;
}

.aboutLeft p.second {
  margin-bottom: 1.5rem;
  font-weight: 300;
}

.aboutRight {
  margin-top: 11rem;
  list-style-type: square;
  padding-left: 0;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

.aboutSkillBox {
  margin-bottom: 30px;
  padding: 50px 0;
  -webkit-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
  -ms-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
  -o-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

.aboutSkillBox h3 {
  font-size: 10px;
  text-align: center;
  font-weight: bolder;
}

.one {
  border-bottom: 5px solid #2c98f0;
}

.two {
  border-bottom: 5px solid #dc3545;
}

.three {
  border-bottom: 5px solid #ffc107;
}

.four {
  border-bottom: 5px solid #28a745;
}

.five {
  border-bottom: 5px solid #545b62;
}

.aboutBigBox {
  padding: 1rem;
  background: rgba(0, 123, 255, 0.5);
  margin-bottom: 2rem;
}

.aboutBigBox p {
  font-size: 24px;
  font-weight: bolder;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 123, 255, 0.25);
  margin: unset;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .aboutRight {
    margin-top: 11rem;
  }
}

@media (max-width: 768px) {
  .aboutRight {
    margin-top: 0;
    padding-left: 1.2rem;
  }
}
