.careerTitle {
  font-size: 18px;
  margin-bottom: 4em;
  font-weight: 700;
  letter-spacing: 5px;
  line-height: 1.8;
}

.blueCircle {
  width: 50px;
  height: 50px;
  background-color: #2c98f0;
  border-radius: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  -webkit-box-shadow: 10px 10px grey;
  -moz-box-shadow: 10px 10px grey;
  -ms-box-shadow: 10px 10px grey;
  -o-box-shadow: 10px 10px grey;
  box-shadow: 10px 10px grey;
}

.pinkCircle {
  width: 50px;
  height: 50px;
  background-color: #ec5453;
  border-radius: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  -webkit-box-shadow: 10px 10px grey;
  -moz-box-shadow: 10px 10px grey;
  -ms-box-shadow: 10px 10px grey;
  -o-box-shadow: 10px 10px grey;
  box-shadow: 10px 10px grey;
}

.companyBox {
  background: #f8f9fa;
  padding: 1.5em;
  -webkit-box-shadow: 10px 10px grey;
  -moz-box-shadow: 10px 10px grey;
  -ms-box-shadow: 10px 10px grey;
  -o-box-shadow: 10px 10px grey;
  box-shadow: 10px 10px #e9ecef;
}

.companyBox h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 1rem;
}

.companyBox p {
  color: #6c757d;
}

.careerDate {
  display: inline-block;
  margin-bottom: 1rem;
  color: grey;
}

.careerBold {
  font-weight: bolder !important;
  color: #000;
}

@media (max-width: 992px) {
  .blueCircle {
    width: 30px;
    height: 30px;
    font-size: 1rem;
  }

  .pinkCircle {
    width: 30px;
    height: 30px;
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .blueCircle {
    margin-bottom: 2rem;
  }

  .pinkCircle {
    margin-bottom: 2rem;
  }
}
