.ContactTitle {
  font-size: 18px;
  margin-bottom: 4em;
  font-weight: 700;
  letter-spacing: 5px;
  line-height: 1.8;
}

.ContactDesc p {
  color: orange;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.ContactWrapper dl dt {
  color: grey;
}

.ContactWrapper dl dd {
  color: #000;
  font-weight: bold;
  font-size: 1.1rem;
}

.contactImg {
  width: 100%;
}

.imgWrapper {
  display: flex;
  align-items: center;
}
