.educationTitle {
  font-size: 18px;
  margin-bottom: 4em;
  font-weight: 700;
  letter-spacing: 5px;
  line-height: 1.8;
}

.timeLineWrapper {
  position: relative;
  width: 100%;
  height: 750px;
  margin: 0 auto;
}

.circleBox {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  background-color: #000;
  border-radius: 100%;
  -webkit-box-shadow: 10px 10px grey;
  -moz-box-shadow: 10px 10px grey;
  -ms-box-shadow: 10px 10px grey;
  -o-box-shadow: 10px 10px grey;
  box-shadow: 10px 10px grey;
}

.timeLine {
  width: 1px;
  height: 550px;
  background-color: #000;
  position: absolute;
  left: 25px;
}

.smallCircleOne,
.smallCircleTwo,
.smallCircleThree,
.smallCircleFour,
.smallCircleFive,
.smallCircleSix {
  width: 10px;
  height: 10px;
  background-color: red;
}

.smallCircleOne {
  position: absolute;
  left: 20px;
  top: 100px;
}

.smallCircleTwo {
  position: absolute;
  left: 20px;
  top: 200px;
}

.smallCircleThree {
  position: absolute;
  left: 20px;
  top: 300px;
}

.smallCircleFour {
  position: absolute;
  left: 20px;
  top: 400px;
}

.smallCircleFive {
  position: absolute;
  left: 20px;
  top: 500px;
}

.smallCircleSix {
  position: absolute;
  left: 20px;
  top: 600px;
}

.textOne {
  position: absolute;
  left: 40px;
  top: 100px;
}

.textTwo {
  position: absolute;
  left: 40px;
  top: 200px;
}

.textThree {
  position: absolute;
  left: 40px;
  top: 300px;
}

.textFour {
  position: absolute;
  left: 40px;
  top: 400px;
}

.textFive {
  position: absolute;
  left: 40px;
  top: 500px;
}

.textSix {
  position: absolute;
  left: 40px;
  top: 600px;
}
