.expTitle {
  font-size: 18px;
  margin-bottom: 4em;
  font-weight: 700;
  letter-spacing: 5px;
  line-height: 1.8;
}

.expBox {
  height: 326px;
  margin-bottom: 30px;
  padding: 1rem 1rem 1rem 1rem;
  -webkit-box-shadow: 5px 5px 30px 10px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 5px 5px 30px 10px rgba(0, 0, 0, 0.075);
  -ms-box-shadow: 5px 5px 30px 10px rgba(0, 0, 0, 0.075);
  -o-box-shadow: 5px 5px 30px 10px rgba(0, 0, 0, 0.075);
  box-shadow: 5px 5px 30px 10px rgba(0, 0, 0, 0.075);
  border-radius: 3%;
}

.expBox dl dt {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.expBox dl dd {
  font-weight: lighter;
}

.one {
  border-bottom: 10px solid #2c98f0;
}

.two {
  border-bottom: 10px solid #dc3545;
}

.three {
  border-bottom: 10px solid #ffc107;
}

.four {
  border-bottom: 10px solid #28a745;
}

.five {
  border-bottom: 10px solid #495057;
}

.six {
  border-bottom: 10px solid #2cf0cc;
}

@media (min-width: 768px) and (max-width: 979px) {
  .expBox {
    height: 458px;
  }
}
