.MainImgWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.MainTitle {
  position: absolute;
  font-weight: 900;
  top: 80px;
  left: 10px;
  color: #fff;
  font-size: 3rem;
  text-align: left;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.075);
  z-index: 100;
}

.imageSize {
  width: 100%;
  height: 582px;
}

@media (max-width: 1200px) {
  .imageSize {
    height: 582px;
  }
}

@media (max-width: 768px) {
  .imageSize {
    height: 551px;
  }
}
