.mainImgWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.mainTitle {
  position: absolute;
  font-weight: 900;
  bottom: 20px;
  right: 10px;
  color: #fff;
  font-size: 5rem;
  text-align: right;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.075);
  z-index: 100;
  animation: fadein 5s;
  -moz-animation: fadein 5s; /* Firefox */
  -webkit-animation: fadein 5s; /* Safari and Chrome */
  -o-animation: fadein 5s; /* Opera */
}

.imageSize {
  width: 100%;
  height: 582px;
  animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3s; /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  .imageSize {
    height: 582px;
  }
}

@media (max-width: 768px) {
  .imageSize {
    height: 551px;
  }

  .mainTitle {
    font-size: 1.3rem;
    font-weight: bold;
  }
}
