.projectTitle {
  font-size: 18px;
  margin-bottom: 4em;
  font-weight: 700;
  letter-spacing: 5px;
  line-height: 1.8;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

.projectContent {
  margin-bottom: 5rem;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

.projectImgSize {
  max-width: 500px;
  border: 1px dotted #000;
}

.btnBlue {
  text-decoration: none;
  font-size: 1rem;
  color: white;
  padding: 10px 20px 10px 20px;
  display: inline-block;
  border-radius: 10px;
  transition: all 0.1s;
  background-color: #5bc0de;
  border-bottom: 5px solid rgba(0, 0, 0, 0.15);
  font-weight: bold;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

.btnBlue:hover {
  text-decoration: none;
  color: #ddd;
  font-weight: bolder;
  background-color: #31b0d5;
}

.btnBlue:active {
  border-bottom: 2px solid #165196;
}

.btnBlue:focus {
  text-decoration: none;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .projectImgSize {
    width: 100%;
  }
}
