.Main {
  width: 100%;
  height: 100%;
  display: flex;
}

.SidebarWrapper {
  width: 20%;
  height: 100%;
}

.LogoName {
  width: 150px;
  height: 100px;
  border: 2px solid #000;
  text-align: center;
  font-size: 2rem;
  margin-top: 3rem;
  font-weight: bolder;
  margin: 3rem auto;
}

.ListGroup {
  margin-top: 2rem;
}

.ListItem {
  text-align: center;
  display: block;
  padding: 0.8rem 0;
  color: #000;
}

.ListItem:hover {
  text-decoration: none;
  font-weight: 500;
  color: #007bff;
}

.SectionWrapper {
  width: 100%;
  height: 100%;
  padding: 3rem 2rem;
}

@media (max-width: 576px) {
  .Main {
    display: block;
  }

  .SidebarWrapper {
    width: 100%;
  }

  .SectionWrapper {
    width: 100%;
  }
}
